.title {
  position: absolute;
  top: 50%;

  display: flex;
  flex-direction: column;
  padding: 0 var(--padding);
  width: 100%;
}

.title * {
  text-shadow: var(--shadow);
}

.words {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

@media only screen and (min-width: 768px) {
  h1.words {
    max-width: calc((100% / 3) * 2);
  }
}

@media only screen and (min-width: 992px) {
  h1.words {
    /* max-width: calc((100% / 3) * 2); */
    max-width: 50%;
  }
}

.client {
  font-family: var(--font-robotoCondensed);
  font-weight: 200;
  font-size: clamp(1.5rem, 1.2rem + 1vw, 2rem);
}
