.title {
  display: flex;
  flex-direction: column;
  padding: 0 var(--padding);
  width: 100%;
}

.title * {
  text-shadow: var(--shadow);
}

.words {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

h1.words {
  max-width: 50%;
}

.client {
  font-family: var(--font-robotoCondensed);
  font-style: italic;
  font-weight: 100;
  font-size: clamp(1.5rem, 0.9rem + 2vw, 2.5rem);
}
