.container {
  position: relative;

  display: flex;
  align-items: center;

  aspect-ratio: 9/16;
  width: calc(100vw - (4 * var(--padding)));
  height: unset;
}

@media only screen and (min-width: 576px) {
  .container {
    width: unset;
    height: calc(100vh - (2 * 20vh));
  }
}

.container > a {
  height: 100%;
}

.img {
  display: flex;
  overflow: hidden;
  border-radius: var(--radius);
}

.description {
  padding-top: 0.5rem;
}

.description span:last-child {
  padding-left: 0.5rem;
}

.client {
  font-family: var(--fontCondensed);
  font-style: italic;
  font-size: clamp(1.25rem, 1.0833rem + 0.5556vw, 1.5rem);
  font-weight: 300;
}
