.container {
  display: grid;
  padding: var(--divider) var(--padding);
  gap: var(--divider);
}

.container > * {
  display: grid;
  gap: var(--gap);
}

/* Link */
.contactContainer h2 {
  text-align: center;
}

.contactLink {
  display: flex;
  justify-content: center;
  gap: var(--padding);
}

.contactLink a {
  display: flex;
  align-items: center;
  padding: 0 var(--gap);
  height: 3rem;

  border: var(--border);
  border-radius: var(--radius);
  backdrop-filter: blur(8px);

  /* Animation */
  transition-property: border;
  transition: var(--transition);
}

.contactLink a:hover {
  border: var(--borderHover);
}

/* List */
.listContainer {
  display: grid;
  gap: var(--gap);
  padding: var(--divider) var(--padding);
}

.listItem {
  display: grid;
  gap: var(--gap);
}

.listItem ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.dash {
  display: flex;
  gap: 0.5rem;
}

.dash:not(:last-child)::after {
  content: "-";
}

/* Table */
.table {
  display: grid;
}

.tableBody {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.tableRow {
  display: grid;
}

@media only screen and (min-width: 576px) {
  /* List */
  .listPosition {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: var(--gap);
  }

  /* Table */
  .tableRow {
    grid-template-columns: 1fr 3fr;
    gap: var(--gap);
  }

  .tableCell:first-child {
    justify-self: end;
  }
}

@media only screen and (min-width: 768px) {
}
