.modalContainer {
  position: fixed;
  top: 0;
  left: 0;

  width: 225px;
  height: 400px;

  pointer-events: none;
}

.modalSlider {
  position: absolute;

  height: 100%;
  width: 100%;
}

.modal {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  border-radius: 4px;

  width: 100%;
  height: 100%;
}

.modal img {
  z-index: 1;
}

.cursor {
  z-index: 2;
  position: fixed;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  border: var(--borderHover);

  border-radius: 50%;

  pointer-events: none;
}

.cursorLabel {
  pointer-events: none;
}

/* Touch */
@media (pointer: coarse) {
  .modalContainer {
    display: none;
  }

  .cursor {
    border: unset;
  }

  .cursorLabel {
    display: none;
  }
}
