.container {
  position: relative;
  overflow: hidden;

  display: grid;

  height: 50vh;

  /* Layout */
  width: 100%;
  margin: 0 auto;
  max-width: var(--xl);
}

.parallax {
  position: absolute;
  width: 100%;
  height: 100%;
}

.img {
  position: absolute;

  height: calc(100% + 2px);
  width: calc(100% + 2px);

  pointer-events: none;
}

@media only screen and (min-width: 576px) {
  .container {
    height: auto;
    aspect-ratio: 16/9;
  }
}
